<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<!--导入属性配置 -->
	<properties resource="mybatis-generator.properties" />
	<context id="test" targetRuntime="MyBatis3">

		<!--分割SQL关键字 默认为false -->
		<property name="autoDelimitKeywords" value="true" />
		<!--分割关键字的前符号 -->
		<property name="beginningDelimiter" value="`" />
		<!--分割关键字的后符号 -->
		<property name="endingDelimiter" value="`" />

		<property name="servicePackage" value="${service.package}" />

		<property name="serviceTargetProject" value="${service.target.project}" />

		<property name="serviceImplPackage" value="${service.impl.package}" />

		<property name="serviceImplTargetProject" value="${service.impl.target.project}" />

		<plugin type="org.mybatis.generator.my.plugins.DynamicQueryExamplePlugin"></plugin>
<!--		<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"></plugin>-->
<!--		<plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>-->
		<plugin type="org.mybatis.generator.my.plugins.PaginationPlugin"></plugin>
		<plugin type="org.mybatis.generator.my.plugins.ExampleEnhancedPlugin"></plugin>
		<plugin type="org.mybatis.generator.my.plugins.ModelEnhancedPlugin"></plugin>
		<plugin type="org.mybatis.generator.my.plugins.SQLMapEnhancePlugin"></plugin>
		<plugin type="org.mybatis.generator.my.plugins.InsertBatchPlugin"></plugin>
		<plugin type="org.mybatis.generator.my.plugins.UpdateBatchPlugin"></plugin>
		<plugin type="org.mybatis.generator.my.plugins.MapperPlugin"></plugin>
		<plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>
		<plugin type="org.mybatis.generator.my.plugins.ServicePlugin"></plugin>

		<commentGenerator type="org.mybatis.generator.my.comment.MySQLCommentGenerator"/>

		<jdbcConnection
				driverClass="${jdbc.driver}"
			    connectionURL="${jdbc.url}"
				userId="${jdbc.username}"
				password="${jdbc.password}">
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>
		<!--生成Model类存放位置 -->
		<javaModelGenerator targetPackage="${model.package}"
			targetProject="${model.target.project}">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<!--生成映射文件存放位置 -->
		<sqlMapGenerator targetPackage="${xml.mapper.package}"
			targetProject="${xml.target.project}">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<!--生成Dao类存放位置 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="${dao.package}" targetProject="${dao.target.project}">
			<property name="enableSubPackages" value="true" />
			<property name="rootInterface" value="org.mybatis.generator.my.mapper.Mapper" />
		</javaClientGenerator>

		<table tableName="static_api"/>

	</context>
</generatorConfiguration>